.contenedor {
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b7, #6b4cf5);
    box-shadow: 2px 2px 3px 1px rgb(117, 105, 105);
    position: relative;
}

.form input {
    width: 100%;
    padding: 7px;
    align-items: center;
    position: relative;
    right: 1%;
    
}

.form label {
    width: 100%;
    padding: 7px;
}

.form select {
    width: 100%;
    padding: 7px;
}

.boton input {
    padding: 5px 15px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    
}